<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>

    <!-- Local Files -->
    <link rel="stylesheet" href="Main.css">
    <title>DevHire - Jobs</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary lead">
        <div class="container-fluid">
            <a class="navbar-brand" onclick="window.location.href='/'">
                <img src="./Logo.png" alt="Logo" width="auto" height="55" style="margin: 0px 26px;"
                    class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse Navbar-section01" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" aria-current="page" onclick="window.location.href='/'">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs_stud">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.location.href='/our_team'">Our Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="TeamHeading container-fluid display-1 text-center">JOBS</div>
    <hr>
    <div class="container TeamDiv">
        <!-- Add more cards here -->
        <div class="card" style="width: 12.7rem;" data-card-id="card01" data-bs-toggle="modal" data-bs-target="#jobModal">
            <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, beatae aliquam.
                Inventore, similique, earum, consequatur vero labore aut itaque aliquam ipsam impedit nulla ea doloremque
                aperiam quaerat fugiat repellendus explicabo! Impedit rem at magnam ea. Porro, saepe, ullam voluptates
                delectus natus, eum aperiam dicta dignissimos consectetur soluta eaque doloremque illum nesciunt!
                Architecto deserunt consequatur dolor laborum laudantium eligendi a at. Temporibus totam ad quisquam id
                asperiores magni ducimus molestias mollitia? Molestias soluta eligendi, reprehenderit aspernatur
                perspiciatis corrupti deleniti nobis fugit quos! Obcaecati numquam autem, accusantium placeat sunt ad
                cupiditate ducimus! Fuga nisi voluptatibus sequi nesciunt tempora neque molestias obcaecati illo. Ipsam
                ex aspernatur expedita, debitis quasi numquam, cupiditate sed sit excepturi vitae facilis nulla qui nisi
                iure. Quidem, placeat vitae! Rem eaque esse ipsum, repellat dicta quibusdam iure amet pariatur ducimus
                dolor magnam alias eos itaque natus unde sint odio consequatur deserunt provident rerum assumenda
                voluptate, maiores sunt nulla? Labore.</p>
            <div class="card-body">
                <h5 class="card-title">Gaditek</h5>
                <p class="card-text">FrontEnd Developer</p>
            </div>
        </div>
        <div class="card" style="width: 12.7rem;" data-card-id="card02" data-bs-toggle="modal" data-bs-target="#jobModal">
            <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, beatae aliquam.
                Inventore, similique, earum, consequatur vero labore aut itaque aliquam ipsam impedit nulla ea doloremque
                aperiam quaerat fugiat repellendus explicabo! Impedit rem at magnam ea. Porro, saepe, ullam voluptates
                delectus natus, eum aperiam dicta dignissimos consectetur soluta eaque doloremque illum nesciunt!
                Architecto deserunt consequatur dolor laborum laudantium eligendi a at. Temporibus totam ad quisquam id
                asperiores magni ducimus molestias mollitia? Molestias soluta eligendi, reprehenderit aspernatur
                perspiciatis corrupti deleniti nobis fugit quos! Obcaecati numquam autem, accusantium placeat sunt ad
                cupiditate ducimus! Fuga nisi voluptatibus sequi nesciunt tempora neque molestias obcaecati illo. Ipsam
                ex aspernatur expedita, debitis quasi numquam, cupiditate sed sit excepturi vitae facilis nulla qui nisi
                iure. Quidem, placeat vitae! Rem eaque esse ipsum, repellat dicta quibusdam iure amet pariatur ducimus
                dolor magnam alias eos itaque natus unde sint odio consequatur deserunt provident rerum assumenda
                voluptate, maiores sunt nulla? Labore.</p>
            <div class="card-body">
                <h5 class="card-title">Gaditek</h5>
                <p class="card-text">FrontEnd Developer</p>
            </div>
        </div>
        <div class="card" style="width: 12.7rem;" data-card-id="card03" data-bs-toggle="modal" data-bs-target="#jobModal">
            <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, beatae aliquam.
                Inventore, similique, earum, consequatur vero labore aut itaque aliquam ipsam impedit nulla ea doloremque
                aperiam quaerat fugiat repellendus explicabo! Impedit rem at magnam ea. Porro, saepe, ullam voluptates
                delectus natus, eum aperiam dicta dignissimos consectetur soluta eaque doloremque illum nesciunt!
                Architecto deserunt consequatur dolor laborum laudantium eligendi a at. Temporibus totam ad quisquam id
                asperiores magni ducimus molestias mollitia? Molestias soluta eligendi, reprehenderit aspernatur
                perspiciatis corrupti deleniti nobis fugit quos! Obcaecati numquam autem, accusantium placeat sunt ad
                cupiditate ducimus! Fuga nisi voluptatibus sequi nesciunt tempora neque molestias obcaecati illo. Ipsam
                ex aspernatur expedita, debitis quasi numquam, cupiditate sed sit excepturi vitae facilis nulla qui nisi
                iure. Quidem, placeat vitae! Rem eaque esse ipsum, repellat dicta quibusdam iure amet pariatur ducimus
                dolor magnam alias eos itaque natus unde sint odio consequatur deserunt provident rerum assumenda
                voluptate, maiores sunt nulla? Labore.</p>
            <div class="card-body">
                <h5 class="card-title">Gaditek</h5>
                <p class="card-text">FrontEnd Developer</p>
            </div>
        </div>
        <div class="card" style="width: 12.7rem;" data-card-id="card04" data-bs-toggle="modal" data-bs-target="#jobModal">
            <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, beatae aliquam.
                Inventore, similique, earum, consequatur vero labore aut itaque aliquam ipsam impedit nulla ea doloremque
                aperiam quaerat fugiat repellendus explicabo! Impedit rem at magnam ea. Porro, saepe, ullam voluptates
                delectus natus, eum aperiam dicta dignissimos consectetur soluta eaque doloremque illum nesciunt!
                Architecto deserunt consequatur dolor laborum laudantium eligendi a at. Temporibus totam ad quisquam id
                asperiores magni ducimus molestias mollitia? Molestias soluta eligendi, reprehenderit aspernatur
                perspiciatis corrupti deleniti nobis fugit quos! Obcaecati numquam autem, accusantium placeat sunt ad
                cupiditate ducimus! Fuga nisi voluptatibus sequi nesciunt tempora neque molestias obcaecati illo. Ipsam
                ex aspernatur expedita, debitis quasi numquam, cupiditate sed sit excepturi vitae facilis nulla qui nisi
                iure. Quidem, placeat vitae! Rem eaque esse ipsum, repellat dicta quibusdam iure amet pariatur ducimus
                dolor magnam alias eos itaque natus unde sint odio consequatur deserunt provident rerum assumenda
                voluptate, maiores sunt nulla? Labore.</p>
            <div class="card-body">
                <h5 class="card-title">Gaditek</h5>
                <p class="card-text">FrontEnd Developer</p>
            </div>
        </div>
        <div class="card" style="width: 12.7rem;" data-card-id="card05" data-bs-toggle="modal" data-bs-target="#jobModal">
            <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, beatae aliquam.
                Inventore, similique, earum, consequatur vero labore aut itaque aliquam ipsam impedit nulla ea doloremque
                aperiam quaerat fugiat repellendus explicabo! Impedit rem at magnam ea. Porro, saepe, ullam voluptates
                delectus natus, eum aperiam dicta dignissimos consectetur soluta eaque doloremque illum nesciunt!
                Architecto deserunt consequatur dolor laborum laudantium eligendi a at. Temporibus totam ad quisquam id
                asperiores magni ducimus molestias mollitia? Molestias soluta eligendi, reprehenderit aspernatur
                perspiciatis corrupti deleniti nobis fugit quos! Obcaecati numquam autem, accusantium placeat sunt ad
                cupiditate ducimus! Fuga nisi voluptatibus sequi nesciunt tempora neque molestias obcaecati illo. Ipsam
                ex aspernatur expedita, debitis quasi numquam, cupiditate sed sit excepturi vitae facilis nulla qui nisi
                iure. Quidem, placeat vitae! Rem eaque esse ipsum, repellat dicta quibusdam iure amet pariatur ducimus
                dolor magnam alias eos itaque natus unde sint odio consequatur deserunt provident rerum assumenda
                voluptate, maiores sunt nulla? Labore.</p>
            <div class="card-body">
                <h5 class="card-title">Gaditek</h5>
                <p class="card-text">FrontEnd Developer</p>
            </div>
        </div>
        <div class="card" style="width: 12.7rem;" data-card-id="card06" data-bs-toggle="modal" data-bs-target="#jobModal">
            <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, beatae aliquam.
                Inventore, similique, earum, consequatur vero labore aut itaque aliquam ipsam impedit nulla ea doloremque
                aperiam quaerat fugiat repellendus explicabo! Impedit rem at magnam ea. Porro, saepe, ullam voluptates
                delectus natus, eum aperiam dicta dignissimos consectetur soluta eaque doloremque illum nesciunt!
                Architecto deserunt consequatur dolor laborum laudantium eligendi a at. Temporibus totam ad quisquam id
                asperiores magni ducimus molestias mollitia? Molestias soluta eligendi, reprehenderit aspernatur
                perspiciatis corrupti deleniti nobis fugit quos! Obcaecati numquam autem, accusantium placeat sunt ad
                cupiditate ducimus! Fuga nisi voluptatibus sequi nesciunt tempora neque molestias obcaecati illo. Ipsam
                ex aspernatur expedita, debitis quasi numquam, cupiditate sed sit excepturi vitae facilis nulla qui nisi
                iure. Quidem, placeat vitae! Rem eaque esse ipsum, repellat dicta quibusdam iure amet pariatur ducimus
                dolor magnam alias eos itaque natus unde sint odio consequatur deserunt provident rerum assumenda
                voluptate, maiores sunt nulla? Labore.</p>
            <div class="card-body">
                <h5 class="card-title">Gaditek</h5>
                <p class="card-text">FrontEnd Developer</p>
            </div>
        </div>
        <div class="card" style="width: 12.7rem;" data-card-id="card07" data-bs-toggle="modal" data-bs-target="#jobModal">
            <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, beatae aliquam.
                Inventore, similique, earum, consequatur vero labore aut itaque aliquam ipsam impedit nulla ea doloremque
                aperiam quaerat fugiat repellendus explicabo! Impedit rem at magnam ea. Porro, saepe, ullam voluptates
                delectus natus, eum aperiam dicta dignissimos consectetur soluta eaque doloremque illum nesciunt!
                Architecto deserunt consequatur dolor laborum laudantium eligendi a at. Temporibus totam ad quisquam id
                asperiores magni ducimus molestias mollitia? Molestias soluta eligendi, reprehenderit aspernatur
                perspiciatis corrupti deleniti nobis fugit quos! Obcaecati numquam autem, accusantium placeat sunt ad
                cupiditate ducimus! Fuga nisi voluptatibus sequi nesciunt tempora neque molestias obcaecati illo. Ipsam
                ex aspernatur expedita, debitis quasi numquam, cupiditate sed sit excepturi vitae facilis nulla qui nisi
                iure. Quidem, placeat vitae! Rem eaque esse ipsum, repellat dicta quibusdam iure amet pariatur ducimus
                dolor magnam alias eos itaque natus unde sint odio consequatur deserunt provident rerum assumenda
                voluptate, maiores sunt nulla? Labore.</p>
            <div class="card-body">
                <h5 class="card-title">Gaditek</h5>
                <p class="card-text">FrontEnd Developer</p>
            </div>
        </div>
        <div class="card" style="width: 12.7rem;" data-card-id="card08" data-bs-toggle="modal" data-bs-target="#jobModal">
            <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, beatae aliquam.
                Inventore, similique, earum, consequatur vero labore aut itaque aliquam ipsam impedit nulla ea doloremque
                aperiam quaerat fugiat repellendus explicabo! Impedit rem at magnam ea. Porro, saepe, ullam voluptates
                delectus natus, eum aperiam dicta dignissimos consectetur soluta eaque doloremque illum nesciunt!
                Architecto deserunt consequatur dolor laborum laudantium eligendi a at. Temporibus totam ad quisquam id
                asperiores magni ducimus molestias mollitia? Molestias soluta eligendi, reprehenderit aspernatur
                perspiciatis corrupti deleniti nobis fugit quos! Obcaecati numquam autem, accusantium placeat sunt ad
                cupiditate ducimus! Fuga nisi voluptatibus sequi nesciunt tempora neque molestias obcaecati illo. Ipsam
                ex aspernatur expedita, debitis quasi numquam, cupiditate sed sit excepturi vitae facilis nulla qui nisi
                iure. Quidem, placeat vitae! Rem eaque esse ipsum, repellat dicta quibusdam iure amet pariatur ducimus
                dolor magnam alias eos itaque natus unde sint odio consequatur deserunt provident rerum assumenda
                voluptate, maiores sunt nulla? Labore.</p>
            <div class="card-body">
                <h5 class="card-title">Gaditek</h5>
                <p class="card-text">FrontEnd Developer</p>
            </div>
        </div>
    </div>

    <!-- Modal Box -->
    <div class="modal fade" id="jobModal" tabindex="-1" aria-labelledby="jobModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between align-items-center">
                    <h5 class="modal-title" id="jobModalLabel">Job Details</h5>
                    <div class="d-flex">
                        <button type="button" class="btn btn-primary me-2" id="editBtn" onclick="handleEditButtonClick(event)">Edit</button>
                        <button type="button" class="btn-close mt-1" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <div class="modal-body" id="jobModalBody">
                    <!-- Modal content will be populated dynamically -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveChangesBtn">Save Changes</button>
                    <button type="button" class="btn btn-primary giveInterviewBtn" id="giveInterviewBtn">Give Interview</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Button with write icon at bottom right -->
    <button type="button" class="btn btn-primary write-btn position-fixed bottom-0 end-0" data-bs-toggle="modal" data-bs-target="#addJobModal">
        <i class="bi bi-pencil-fill"></i>
    </button>

    <!-- Modal for adding a new job -->
    <div class="modal fade" id="addJobModal" tabindex="-1" aria-labelledby="addJobModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addJobModalLabel">Add New Job</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addJobForm">
                        <div class="mb-3">
                            <label for="titleInput" class="form-label">Title</label>
                            <input type="text" class="form-control" id="titleInput" required>
                        </div>
                        <div class="mb-3">
                            <label for="roleInput" class="form-label">Role</label>
                            <input type="text" class="form-control" id="roleInput" required>
                        </div>
                        <div class="mb-3">
                            <label for="descriptionInput" class="form-label">Description</label>
                            <textarea class="form-control" id="descriptionInput" rows="3" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveJobBtn">Save Job</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Function to attach event listeners to job cards
        function attachEventListenersToJobCards() {
            const cards = document.querySelectorAll('.card');
            cards.forEach(card => {
                card.addEventListener('click', () => {
                    const description = card.querySelector('.card-description').innerHTML;
                    const title = card.querySelector('.card-title').innerHTML;
                    const role = card.querySelector('.card-text').innerHTML;
                    const modalBody = document.getElementById('jobModalBody');
                    modalBody.innerHTML = `
                        <h5>${title}</h5>
                        <p><strong>Role:</strong> ${role}</p>
                        <hr>
                        <p>${description}</p>
                    `;
                    clickedCard = card; // Update the clickedCard variable
                    console.log(clickedCard)
                });
            });
        }
    
        // Call the function to attach event listeners to existing job cards
        attachEventListenersToJobCards();
    
        // Function to handle edit button click
        function handleEditButtonClick(event) {
            if (!clickedCard) {
                return;
            }
    
            const card = clickedCard;
            const description = card.querySelector('.card-description').innerHTML;
            const title = card.querySelector('.card-title').innerHTML;
            const role = card.querySelector('.card-text').innerHTML;

            console.log("Editing:", card)
    
            const modalBody = document.getElementById('jobModalBody');
            modalBody.innerHTML = `
                <label for="editTitle">Title:</label>
                <input type="text" class="form-control mb-3" id="editTitle" value="${title}">
                <label for="editRole">Role:</label>
                <input type="text" class="form-control mb-3" id="editRole" value="${role}">
                <label for="editDescription">Description:</label>
                <textarea class="form-control" id="editDescription" rows="3" height=max-content>${description}</textarea>
            `;
            document.getElementById('saveChangesBtn').style.display = 'block';
    
            document.getElementById('saveChangesBtn').addEventListener('click', () => {
                const editedTitle = document.getElementById('editTitle').value;
                const editedRole = document.getElementById('editRole').value;
                const editedDescription = document.getElementById('editDescription').value;
    
                card.querySelector('.card-title').innerHTML = editedTitle;
                card.querySelector('.card-text').innerHTML = editedRole;
                card.querySelector('.card-description').innerHTML = editedDescription;
    
                const modal = bootstrap.Modal.getInstance(document.getElementById('jobModal'));
                console.log("Saving:", card)
                modal.hide();
            });
        }
    
        // Function to add a new job posting
        document.getElementById('saveJobBtn').addEventListener('click', function () {
            const title = document.getElementById('titleInput').value;
            const role = document.getElementById('roleInput').value;
            const description = document.getElementById('descriptionInput').value;
            
            const newCard = `
                <div class="card" style="width: 12.7rem;" data-bs-toggle="modal" data-bs-target="#jobModal">
                    <p class="card-description">${description}</p>
                    <div class="card-body">
                        <h5 class="card-title">${title}</h5>
                        <p class="card-text">${role}</p>
                    </div>
                </div>
            `;
            
            document.querySelector('.TeamDiv').insertAdjacentHTML('beforeend', newCard);
    
            // Attach event listener only to the newly created card
            const newCardElement = document.querySelector('.TeamDiv').lastElementChild;
            newCardElement.addEventListener('click', () => {
                const description = newCardElement.querySelector('.card-description').innerHTML;
                const title = newCardElement.querySelector('.card-title').innerHTML;
                const role = newCardElement.querySelector('.card-text').innerHTML;
                const modalBody = document.getElementById('jobModalBody');
                modalBody.innerHTML = `
                    <h5>${title}</h5>
                    <p><strong>Role:</strong> ${role}</p>
                    <hr>
                    <p>${description}</p>
                `;
                clickedCard = newCardElement; // Update the clickedCard variable
            });
    
            document.getElementById('titleInput').value = '';
            document.getElementById('roleInput').value = '';
            document.getElementById('descriptionInput').value = '';
        });
    
        // document.getElementById('editBtn').addEventListener('click', handleEditButtonClick);
    
        document.getElementById('giveInterviewBtn').addEventListener('click', function () {
            if (!clickedCard) {
                return;
            }
    
            const description = clickedCard.querySelector('.card-description').innerHTML;
            const title = clickedCard.querySelector('.card-title').innerHTML;
            const role = clickedCard.querySelector('.card-text').innerHTML;
    
            const encodedTitle = encodeURIComponent(title);
            const encodedRole = encodeURIComponent(role);
            const encodedJobDescription = encodeURIComponent(description);
    
            localStorage.setItem('job_description', encodedJobDescription);
            localStorage.setItem('title', encodedTitle);
            localStorage.setItem('role', encodedRole);
    
            window.location.href = "/interview";
        });
    </script>    
    
</body>

</html>